In [2]:
import pandas as pd
df = pd.read_json("Hechos.json")
df

,ID_Nombre,Id_Carrera,ID_Asignatura,ID_Nota,ID_Perido,Nota_Max,Nota_Min,Periodo_Mas_aprobaciones
0,96,99,49,56,90,97,59,3

In [4]:
import pandas as pd
df1 = pd.read_csv("MOCK_DATA.csv")
df1

     Nombre      Apellido         Carrera  Asignatura  Nota  Periodo_2021
0      Bryn          Paur    Ing Sistemas         110    89             3
1     Darcy       Manhare    Ing Sistemas    Calculo1    97             3
2    Guinna     Di Matteo    Ing Sistemas         110    59             3
3    Kurtis      Brozsset    Ing Sistemas    Vectores    95             3
4     Adria       Barrott    Ing Mecanica    Calculo2    89             1
5   Camilla        Chaney    Ing Mecanica    Vectores    93             3
6      Fair        Thacke       Ing Civil    Vectores    77             3
7    Ivette         Brawn     Ing Quimica  Fisica 100    65             3
8    Haroun  O'Halleghane    Ing Sistemas         110    85             3
9      Teri       Riddell       Ing Civil         111    59             2
10    Elnar       Mepsted    Ing Sistemas         110    92             2
11  Adriane    Marshfield    Ing Mecanica         111    80             1
12    Amara     Goodchild    Ing Electica    Vectores    71             3
13   Hilary          Lumm       Ing Civil  Ecuaciones    71             3
14      Vic     Cuncliffe    Ing Sistemas  Ecuaciones    64             2
15   Celine          Sier    Ing Electica    Calculo1    71             2
16    Ariel          Vint    Ing Mecanica    Calculo2    86             2
17   Libbie         Urien       Ing Civil  Fisica 200    65             1
18  Emelita      Monnelly     Ing Quimica  Ecuaciones    69             2
19    Ettie      Tethcote  Ing Industrial  Ecuaciones    73             1

In [5]:
df2 = pd.merge(df, df1, how='outer')

In [6]:
df2

     Nombre      Apellido         Carrera  Asignatura  Nota  Periodo_2021
0      Bryn          Paur    Ing Sistemas         110    89             3
1     Darcy       Manhare    Ing Sistemas    Calculo1    97             3
2    Guinna     Di Matteo    Ing Sistemas         110    59             3
3    Kurtis      Brozsset    Ing Sistemas    Vectores    95             3
4     Adria       Barrott    Ing Mecanica    Calculo2    89             1
5   Camilla        Chaney    Ing Mecanica    Vectores    93             3
6      Fair        Thacke       Ing Civil    Vectores    77             3
7    Ivette         Brawn     Ing Quimica  Fisica 100    65             3
8    Haroun  O'Halleghane    Ing Sistemas         110    85             3
9      Teri       Riddell       Ing Civil         111    59             2
10    Elnar       Mepsted    Ing Sistemas         110    92             2
11  Adriane    Marshfield    Ing Mecanica         111    80             1
12    Amara     Goodchild    Ing Electica    Vectores    71             3
13   Hilary          Lumm       Ing Civil  Ecuaciones    71             3
14      Vic     Cuncliffe    Ing Sistemas  Ecuaciones    64             2
15   Celine          Sier    Ing Electica    Calculo1    71             2
16    Ariel          Vint    Ing Mecanica    Calculo2    86             2
17   Libbie         Urien       Ing Civil  Fisica 200    65             1
18  Emelita      Monnelly     Ing Quimica  Ecuaciones    69             2
19    Ettie      Tethcote  Ing Industrial  Ecuaciones    73             1